<% provide(:title, "Push##{@push.id}") %>

<p>
  <b>Question ID:</b>
  <%= @push.pushable.id %>
</p>

<p>
  <b>Push ID:</b>
  <%= @push.id %>
</p>

<p>
  <b>Content:</b>
  <%= @push.pushable.content %>
</p>

<p>
  <b>Question or reply:</b>
  <%= @push.pushable.is_reply? ? 'Reply' : 'Question' %>
</p>

<p>
  <b>Buyer ID:</b>
  <%= @push.pushable.buyer_id %>
</p>

<p>
  <b>Buyer nick:</b>
  <%= @push.pushable.buyer_nick %>
</p>

<p>
  <b>Buyer avatar:</b>
  <%= head_image_tag(@push.pushable.buyer_head, @push.pushable.buyer_nick) %>
</p>

<p>
  <b>Seller ID:</b>
  <%= @push.pushable.seller_id %>
</p>

<p>
  <b>Seller nick:</b>
  <%= @push.pushable.seller_nick %>
</p>

<p>
  <b>Seller avatar:</b>
  <%= head_image_tag(@push.pushable.seller_head, @push.pushable.seller_nick) %>
</p>

<p>
  <b>Entry ID:</b>
  <%= @push.pushable.entry_id %>
</p>

<p>
  <b>Item ID:</b>
  <%= @push.pushable.item_id %>
</p>

<p>
  <b>Item title:</b>
  <%= @push.pushable.item_title %>
</p>

<p>
  <b>Item image:</b>
  <%= item_image_tag(@push.pushable.item_image, @push.pushable.item_title) %>
</p>

<%= render 'layouts/push', object: @push %>

<p>
  <b>Status:</b>
  <%= message_status(@push.pushable) %>
</p>

<p>
  <b>Added:</b>
  <%= @push.created_at %>
</p>

<p>
  <b>Updated:</b>
  <%= @push.updated_at %>
</p>

<%= link_to 'Back', questions_path, class: 'btn btn-default' %>
