<% if signed_in? %>
  <!--<div class="row">
    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>-->
<% else %>
  <div class="center jumbotron">
    <%= link_to image_tag("logo.png", alt: "fmmc"), 'http://5milesapp.com/' %>
    <h1>Welcome to the 5miles Message Center</h1>

    <h2>
      This is the home page.
    </h2>

  </div>
<% end %>