<% provide(:title, 'All messages') %>
<h1>All messages</h1>

  <%= grid(@pushes, upper_pagination_panel: true, allow_showing_all_records:  false) do |g|

    g.row_attributes do |push|
      if push.status == Constants::PushStatus::FAILURE
        {:class => 'danger'}
      end
    end

    g.column name:  'Message ID', attribute: 'id', model: 'Message' do |push|
      push.pushable.id
    end

    g.column name:  'Push ID' do |push|
      push.id
    end

    g.column name:  'User ID', attribute: 'user_id', model: 'Client'  do |push|
      link_to(push.client.user_id, client_path(push.client.id))
    end

    g.column  name:  'Content', attribute: 'content', model: 'Message' do |push|
      push.pushable.content
    end

    g.column  name:  'Template' do |push|
      push.pushable.template.name
    end

    g.column  name:  'Push status', attribute: 'status', custom_filter: Constants::PushStatus::KEY_MAP, ordering: false, allow_multiple_selection: false do |push|
       push_status(push.status)
    end

    g.column name:  'Pushed' do |push|
      push.pushed_at ? push.pushed_at.to_s(:short) : ''
    end

    g.column name:  'Added' do |push|
      push.pushable.created_at.to_s(:short)
    end

    g.column name:  'Updated' do |push|
      push.pushable.updated_at.to_s(:short)
    end

    g.column do |push|
      link_to('View', message_path(push), class: 'btn btn-info')
    end
  end -%>