<% provide(:title, "Push##{@push.id}") %>

<p>
  <b>Message ID:</b>
  <%= @push.pushable.id %>
</p>

<p>
  <b>Push ID:</b>
  <%= @push.id %>
</p>

<p>
  <b>Content:</b>
  <%= @push.pushable.content %>
</p>

<p>
  <b>User ID:</b>
  <%= @push.pushable.user_id %>
</p>

<%= render 'layouts/push', object: @push %>

<p>
  <b>Status:</b>
  <%= message_status(@push) %>
</p>

<p>
  <b>Added:</b>
  <%= @push.created_at %>
</p>

<p>
  <b>Updated:</b>
  <%= @push.updated_at %>
</p>

<%= link_to 'Back', messages_path, class: 'btn btn-default' %>
