<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@template) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %><br />
        <%= f.text_field :name %>

        <%= f.label :message_type %><br />
        <%= f.select :message_type, message_types %>

        <%= f.label :content %><br />
        <%= f.text_area :content %>

        <%= f.submit class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>