<% provide(:title, 'All templates') %>
<h1>All templates</h1>
<p>
<%= link_to 'New Template', new_template_path, class: "btn btn-primary" %>
</p>

  <%= grid(@templates, upper_pagination_panel: true, allow_showing_all_records:  false) do |g|

    g.column name:  'ID' do |template|
      template.id
    end

    g.column name:  'Name', attribute: 'name'  do |template|
      template.name
    end

    g.column  name:  'Message type', attribute: 'message_type', custom_filter: message_types, allow_multiple_selection: false do |template|
      template.message_type
    end

    g.column  name:  'Content', attribute: 'content' do |template|
      template.content
    end

    g.column name:  'Added', attribute: 'created_at' do |template|
      template.created_at.to_s(:short)
    end

    g.column name:  'Updated', attribute: 'updated_at' do |template|
      template.updated_at.to_s(:short)
    end

    g.column do |template|
      link_to('Edit', edit_template_path(template), class: 'btn btn-primary')
    end

    g.column do |template|
      link_to('Delete', template, method: :delete, data: { confirm: 'You sure?' }, class: 'btn btn-danger')
    end
  end -%>
