<% provide(:title, "Template##{@template.id}") %>

<p>
  <b>Name:</b>
  <%= @template.name %>
</p>

<p>
  <b>Content:</b>
  <%= @template.content %>
</p>

<p>
  <b>Type:</b>
  <%= @template.message_type %>
</p>

<p>
  <b>Added:</b>
  <%= @template.created_at %>
</p>

<p>
  <b>Updated:</b>
  <%= @template.updated_at %>
</p>

<%= link_to 'Edit', edit_template_path(@template), class: 'btn btn-default' %> |
<%= link_to 'Back', templates_path, class: 'btn btn-default' %>
