<p>
  <b>Buyer ID:</b>
  <%= @object.buyer_id %>
</p>

<p>
  <b>Buyer nick:</b>
  <%= @object.buyer_nick %>
</p>

<p>
  <b>Buyer avatar:</b>
  <%= image_tag(@object.buyer_head, alt: @object.buyer_nick) %>
</p>