<% provide(:title, 'All clients') %>
<h1>All clients</h1>

  <%= grid(@clients, upper_pagination_panel: true, allow_showing_all_records:  false) do |g|

    g.column name:  'ID' do |client|
      client.id
    end

    g.column name:  'User ID', attribute: 'user_id'  do |client|
      client.user_id
    end

    g.column  name:  'Client ID', attribute: 'client_id' do |client|
      client.client_id
    end

    g.column  name:  'Status', attribute: 'status', custom_filter: Client::Status::KEY_MAP, allow_multiple_selection: false do |client|
      client_status::VALUE_MAP[client.status]
    end

    g.column  name:  'Mobile Phone', attribute: 'mobile_phone' do |client|
      client.mobile_phone
    end

    g.column  name:  'OS', attribute: 'os', ordering: false do |client|
      client.os
    end

    g.column  name:  'OS version', attribute: 'os_version', ordering: false do |client|
      client.os_version
    end

    g.column name:  'Added' do |client|
      client.created_at.to_s(:short)
    end

    g.column name:  'Updated' do |client|
      client.updated_at.to_s(:short)
    end

    g.column do |client|
      link_to('View', client_path(client), class: 'btn btn-info')
    end

    g.column do |client|
      link_to('Delete', client, method: :delete, data: { confirm: 'You sure?' }, class: 'btn btn-danger')
    end
  end -%>