<% provide(:title, "Client##{@client.id}") %>

<p>
  <b>User ID:</b>
  <%= @client.user_id %>
</p>

<p>
  <b>Client ID:</b>
  <%= @client.client_id %>
</p>

<p>
  <b>Client ID:</b>
  <%= client_status::VALUE_MAP[@client.status] %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @client.mobile_phone %>
</p>

<p>
  <b>OS:</b>
  <%= @client.os %>
</p>

<p>
  <b>OS version:</b>
  <%= @client.os_version %>
</p>

<p>
  <b>Added:</b>
  <%= @client.created_at %>
</p>

<p>
  <b>Updated:</b>
  <%= @client.updated_at %>
</p>

<%= link_to 'Back', clients_path, class: 'btn btn-default' %>
