:concurrency: 5
:pidfile: <%= current_path %>/tmp/pids/sidekiq.pid
:logfile: <%= current_path %>/log/sidekiq.log

:queues:
    - [default, 4]
    - marketing

development:
  :concurrency: 5
staging:
  :concurrency: 10
production:
  :concurrency: 100