<% provide(:title, 'All chats') %>
<h1>All chats</h1>

  <%= grid(@pushes, upper_pagination_panel: true, allow_showing_all_records:  false) do |g|

    g.row_attributes do |push|
      if push.status == Constants::PushStatus::FAILURE
        {:class => 'danger'}
      end
    end

    g.column name:  'Chat ID', attribute: 'id', model: Chat do |push|
      push.pushable.id
    end

    g.column name:  'Push ID' do |push|
      push.id
    end

    g.column name:  'Buyer ID', attribute: 'buyer_id', model: 'Chat' do |push|
      content_tag(:span, push.pushable.buyer_id, { "data-toggle" => 'tooltip', "data-placement" => 'bottom', :title => push.pushable.buyer_nick })
    end

    g.column name:  'Buyer' do |push|
      head_image_tag(push.pushable.buyer_head, push.pushable.buyer_nick) unless push.pushable.buyer_head.blank?
    end

    g.column name:  ''  do |push|
      push.pushable.sell_side == 0 ? icon('arrow-right', '', class: 'fa-2x') : icon('arrow-left', '', class: 'fa-2x')
    end

    g.column name:  'Seller ID', attribute: 'seller_id', model: 'Chat' do |push|
      content_tag(:span, push.pushable.seller_id, { "data-toggle" => 'tooltip', "data-placement" => 'bottom', :title => push.pushable.seller_nick })
    end

    g.column  name:  'Seller' do |push|
      head_image_tag(push.pushable.seller_head, push.pushable.seller_nick) unless push.pushable.seller_head.blank?
    end

    g.column  name:  'Content' do |push|
      push.pushable.content
    end

    g.column  name:  'Thread ID', attribute: 'thread_id', model: 'Chat' do |push|
      push.pushable.thread_id
    end

    g.column  name:  'Entry ID', attribute: 'entry_id', model: 'Chat' do |push|
        push.pushable.entry_id
    end

    g.column  name:  'Item title', attribute: 'item_title', model: 'Chat' do |push|
      push.pushable.item_title
    end

    g.column  name:  'Push status', attribute: 'status', custom_filter: Constants::PushStatus::KEY_MAP, ordering: false, allow_multiple_selection: false do |push|
      push_status(push.status)
    end

    g.column name:  'Pushed' do |push|
      push.pushed_at ? push.pushed_at.to_s(:short) : ''
    end

    g.column name:  'Added' do |push|
      push.pushable.created_at.to_s(:short)
    end

    g.column name:  'Updated' do |push|
      push.pushable.updated_at.to_s(:short)
    end

    g.column do |push|
      link_to('View', chat_path(push), class: 'btn btn-info')
    end
  end -%>