/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 * require jquery-ui/humanity
 * require font-awesome
 */

/*
body {padding-top: 20px;}
header{padding-bottom: 20px;}
header h1{font-size: 48px;}

.well h2 {margin-bottom: 20px;}

.external-buttons {margin-bottom: 20px;}

input.range-start, input.range-end{width: 100px;}

header h1 {float: left;}
header .example-navigator {float: right; margin-right: 120px}
li.next {margin-left: 10px;}
.clear {clear:both;}



.wice-grid.table-striped tbody tr:nth-child(odd) td.active-filter {
    background-color: #f9f9e9;
}

*/
/*.wice-grid.table-striped tbody tr td.active-filter:hover {
  background-color: #f5f5f5;
}
*//*

.wice-grid.table-striped tbody tr td.active-filter {
    background-color: #f9f9e9;
}

footer .sources {float: right;}*/
