<footer class="footer">
  <small>
    Powered by  <a href="mailto:longzhi@wespoke.com">Dragon</a>
  </small>
  <!--<nav>-->
    <!--<ul>-->
      <!--<li><a href="http://news.5milesapp.com/">News</a></li>-->
    <!--</ul>-->
  <!--</nav>-->
</footer>
