<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "FMMC", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to icon('home', 'Home'), root_path %></li>
          <li><%= link_to icon('tasks', 'sidekiq'), sidekiq_web_path %></li>
          <li><%= link_to icon('mobile-phone', 'Clients'), clients_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= icon('wechat', 'Messages')%> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Questions", questions_path %></li>
              <li><%= link_to "Offers", offers_path %></li>
              <li><%= link_to "Chats", chats_path %></li>
              <li><%= link_to "Feedbacks", feedbacks_path %></li>
              <li><%= link_to "Messages", messages_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Templates", templates_path %>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to icon('lightbulb-o', 'API'), apidoc_path %></li>
        </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</div>