<p>
  <b>Client:</b>
  <%= link_to(object.client_id, client_path(object.client_id)) %>
</p>

<p>
  <b>Push status:</b>
  <%= Constants::PushStatus::VALUE_MAP[object.status] %>
</p>

<p>
  <b>error code:</b>
  <%= object.error_code %>
</p>

<p>
  <b>error message:</b>
  <%= object.error_msg %>
</p>

<p>
  <b>Pushed:</b>
  <%= object.pushed_at %>
</p>